# Python Foundations

### Task 1: Variables & Data Types

#### Create variables of type int, float, string, and list. Print their values and types.

In [ ]:
var_int = 64
var_float = 32.986
var_str = 'Hello Talent'
var_list = [2,4,6,8]

print(var_int, type(var_int))
print(var_float, type(var_float))
print(var_str, type(var_str))
print(var_list, type(var_list))

64 <class 'int'>
32.986 <class 'float'>
Hello Talent <class 'str'>
[2, 4, 6, 8] <class 'list'>

### Task 2: Conditionals

#### Write a program that checks whether a given number is positive, negative, or zero.

In [ ]:
num = float(input('Enter a number: '))

if num > 0:
  print(str(num) + ' is a positive number')
elif num < 0:
  print(str(num) + ' is a negative number')
else:
  print(str(num) + ' is zero')

Enter a number: 7
7.0 is a positive number

### Task 3: Loops

#### Write a program to print the first 10 natural numbers using a loop.

In [3]:
print('First 10 natural numbers: ')
i = 1
while (i<=10):
  print(i)
  i += 1

First 10 natural numbers:
1
2
3
4
5
6
7
8
9
10

#### Write a program to calculate the factorial of a number using a loop.

In [ ]:
num = int(input('Enter a number: '))
fact = 1

for i in range(1,num+1):
  fact = fact*i

print(str(num) + '! = ' + str(fact))

Enter a number: 5
5! = 120

### Task 4: Functions

#### Write a function greet(name) that prints "Hello, <name>!".

In [ ]:
def greet(name):
  print('Hello, ' + name + '!')

greet('Mala')

Hello, Mala!

#### Write a function is_even(num) that returns True if a number is even, False otherwise.

In [ ]:
def is_even(num):
  if num%2 == 0:
    return True
  else:
    return False

print(is_even(10))
print(is_even(17))

True
False

### Task 5: List Operations

#### Create a list of 5 numbers. Find the max, min, sum, and average using built-in functions. Sort the list and reverse it.

In [10]:
list_num = [20,87,11,54,92]

print('Numbers:',list_num)
print('Maximum:',max(list_num))
print('Minimum:',min(list_num))
print('Sum:',sum(list_num))
print('Average:',sum(list_num) / len(list_num))

list_num.sort()
print('Sorted List:',list_num)
list_num.reverse()
print('Reverse List:',list_num)

Numbers: [20, 87, 11, 54, 92]
Maximum: 92
Minimum: 11
Sum: 264
Average: 52.8
Sorted List: [11, 20, 54, 87, 92]
Reverse List: [92, 87, 54, 20, 11]

### Task 6:  Input/Output

#### Write a program that takes a userâ€™s name and age as input and prints:
"Hello <name>, you are <age> years old."

In [11]:
name = input('Enter your name: ')
age = int(input('Enter your age: '))

print('\"Hello ' + name + ', you are ' + str(age) + ' years old.\"')

Enter your name: Mala
Enter your age: 20
"Hello Mala, you are 20 years old."